<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div class="container ">
    <table class="table table-dark table-hover table-bordered text-center"></table>
        <thead>
            <tr class="bg-primary text-white ">
                <th>Name</th>
                <th>location</th>
                <th>employee</th>
                <th>contact</th>
                <th>status</th>
            </tr>
        </thead>
        <tbody>
        {% for e in context %} 
          <td>{{e.name}}</td>
          <td>{{e.contact}}</td>
          <td>{{e.location}}</td>
          <td>{{e.employee}}</td>
          <td>{{e.visitorstatus}}</td>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>